body {
  background: linear-gradient(
    90deg,
    rgb(16, 19, 69) 0%,
    rgb(139, 102, 241) 100%
  );
}
.weather-app-container {
  text-align: center;
  margin: 60px auto;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  background-color: #f7f7ff;
  color: rgb(0, 0, 0, 0.8);
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
main {
  margin-top: 20px;
}
.search-form {
  display: flex;
  justify-content: left;
}
.search-input {
  font-size: 16px;
  padding: 12px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 40%;

  background-color: #ebe8f6;
}
.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #170842;
}
.material-symbols-outlined {
  font-size: 40px;
}
.weather-app-sidebuttons {
  display: flex;
  justify-content: end;
  margin-top: -25px;
}
.unit-button {
  font-size: 16px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 50px;
  background-color: #ebe8f6;
}
.theme-button {
  font-size: 16px;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 50px;
  background-color: #ebe8f6;
}
a {
  color: #805ee1;
}

.weather-app-sidebuttons {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: -25px;
}
footer {
  color: rgb(0, 0, 0, 0.6);
  font-size: 14px;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
}
